@{
    ViewData["Title"] = "Staff";
}
<link rel="stylesheet" href="~/css/student_staff.css" />
<style>
    #staff {
        background-color: lightskyblue;
        border-radius: 25px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/student.js"></script>

<div id="student-info">
        <p class="user-info-label">Assessment name: &nbsp; <span class="user-info-value" id="assessment-name">Assessment 3 – Project</span></p>
        <p class="user-info-label">Student name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="user-info-value" id="user-name">E J K P L S Jayasekara</span></p>
        <p class="user-info-label">Student ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="user-info-value" id="user-id">4662585</span></p>
        <p class="user-info-label">Course: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="user-info-value" id="user-course">BSc. Web & Mobile Application Development</span></p>
        <p class="user-info-label">Location(Campus): <span class="user-info-value" id="location-name">NSBM Green University, Sri Lanka</span></p>
</div>

<div id="user-info">
    @if (ViewData["sessionUserId"] != null)
    {
        var userId = ViewData["sessionUserId"];
        var userName = ViewData["sessionUserName"];
        <p class="user-info-label">Staff user name: <span class="user-info-value" id="user-name">@userName</span></p>
        <p class="user-info-label">Staff user ID: &nbsp;&nbsp;&nbsp;&nbsp; <span class="user-info-value" id="user-id">@userId</span></p>
        <p class="user-info-label">Department: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="user-info-value" id="user-dept">Department of Information & System Science</span></p>
    }
</div>
<div id="content">
    <div class="clearfix">
        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-unit">
                Select Unit
            </button>
            <ul class="dropdown-menu">
                <li id="selector-1"><a class="dropdown-item">Applied Project</a></li>
                <li id="selector-2"><a class="dropdown-item">Advance Web Development</a></li>
                <li id="selector-3"><a class="dropdown-item">Online Business System Development</a></li>
                <li id="selector-4"><a class="dropdown-item">ICT Business Analytics and Data Visualization</a></li>
            </ul>
        </div>
        <div class="dropdown" id="dd-cat">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-category">
                Select Category
            </button>
            <ul class="dropdown-menu">
                <li id="dropdown-books"><a class="dropdown-item">Books</a></li>
                <li id="dropdown-devices"><a class="dropdown-item">Devices</a></li>
            </ul>
        </div>
    </div>

    <div id="books" class="container">
        <!---------------------------------------------->
        <div class="content-element applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/python.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">Python Programming for Beginners</p>
                <p class="element-description">The complete reference to python programming.</p>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element advance-web-dev applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/eBusiness.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">Information Systems & E-Business</p>
                <p class="element-description">The complete reference to information systems & E-Business.</p>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element online-business-sys applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/reference_1.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">ASP.NET Book</p>
                <p class="element-description">The complete reference to ASP.NET..</p>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element ict-bus-analytics row">
            <!--image-->
            <div class="element-image col"><img src="~/images/Data_V1.png" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">Fundamentals of Data Visualization</p>
                <p class="element-description">The complete reference to data visualization...</p>
            </div>
        </div>

    </div>



    <div id="devices" class="tab-content container">
        <!---------------------------------------------->
        <div class="content-element applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/Apple1.jpg" alt="requested resource image" height="30%" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance Computer</p>
                <p class="element-description">macOS Monterey (version 12.2.1) - 8-core...</p>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element online-business-sys row">
            <!--image-->
            <div class="element-image col"><img src="~/images/hp2.png" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">HP Intel i5 11th Gen 15s...</p>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element ict-bus-analytics row">
            <!--image-->
            <div class="element-image col"><img src="~/images/hp1-1.png" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">HP Intel i3 11th Gen 15s...</p>
            </div>
        </div>
        <!---------------------------------------------->
        <div class="content-element ict-bus-analytics applied-project row">
            <!--image-->
            <div class="element-image col"><img src="~/images/Apple5.jpg" alt="requested resource image" /></div>
            <!--text-->
            <div class="element-text col">
                <p class="element-name">High performance laptop</p>
                <p class="element-description">HP Intel i3 11th Gen 15s...</p>
            </div>
        </div>

    </div>
</div>